<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
	
	
  	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/header.css}"  href="../css/headerStyle.css" />
  	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/cityForm.css}"  href="../css/cityForm.css" />
  	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/fileUpload.css}"  href="../css/fileUpload.css" />
  	<script th:src="@{/js/cityAutocomplete.js}" src="../js/cityAutocomplete.js" type="text/javascript"></script>
  	<script th:src="@{/js/fileUpload.js}" src="../js/fileUpload.js" type="text/javascript"></script>
<style>

</style>  
</head>
<body>
<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<form class="form-horizontal" action="#" th:action="@{/notice/new}" th:object="${noticeCommand}" method="post">
					<fieldset>
						<legend th:text="#{addNewNotice.label.addNewNotice}">Add New Notice</legend>
						<div class="form-group">
							<label class="col-md-3 control-label" for="title" th:text="#{addNewNotice.label.title}">Title</label>
							<div class="col-md-6">
								<input name="title" class="form-control input-md" id="title" type="text" th:field="*{title}">
								<p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="category" th:text="#{addNewNotice.label.category}">Category</label>
							<div class="col-md-4">
								<select name="category" class="form-control" id="category" th:field="*{categoryEnumName}">
									<option selected value="" style="display: none" th:text="#{addNewNotice.label.selectCategory}">select category</option>
									<option th:each="category : ${categories}"
											th:value="${category.toString()}"
											th:text="#{'index.categories.' + ${category.category}}"></option>
								</select>
							<p class="alert alert-danger" th:if="${#fields.hasErrors('categoryEnumName')}" th:errors="*{categoryEnumName}"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="price" th:text="#{addNewNotice.label.price}">Price</label>
							<div class="col-md-4">
								<input name="price" class="form-control input-md" id="price"
									type="number" th:field="*{price}">
							<p class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
							</div>
							<span>zł</span>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="description" th:text="#{addNewNotice.label.description}">Descripction</label>
							<div class="col-md-6">
								<textarea name="description" class="form-control" rows="6" id="description" th:field="*{description}"></textarea>
							<p class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
							</div>
						</div>
						<div class="images-group">
							<div class="row">
								<div class="col-md-4 text-center" id="main-image-text">
									<p>
										<b th:text="#{addNewNotice.label.mainImage}">Main image</b>
									</p>
								</div>
							</div>
							<div class="row">
								<div id="file-upload-form1" class="uploader col-md-4">
									<input class="file-upload" id="file-upload1" type="file" name="fileUpload" accept="image/*" />
									<input name="mainImage"	class="hidden image-name" id="mainImage" type="text" value="" th:field="*{mainImageName}">
									<label for="file-upload1" id="file-upload-area1" class="file-upload-area">
										<div id="close1" class="hidden close">
											<i class="fa fa-window-close" aria-hidden="true"></i>
										</div>
										<img id="file-image1" src="#" alt="Preview" class="hidden file-image">
										<div id="start1" class="start">
											<i class="fas fa-plus-circle"></i>
											<div th:text="#{addNewNotice.label.selectFile}">Select a file</div>
											<div id="notimage1" class="hidden notimage" th:text="#{addNewNotice.label.selectImageOnly}">Please select an image</div>
										</div>
										<div id="response1" class="hidden response">
											<div id="messages1" class="messages"></div>
										</div>
									</label>
								</div>

								<div id="file-upload-form2" class="uploader col-md-4">
									<input class="file-upload" id="file-upload2" type="file" name="fileUpload" accept="image/*" />
									<input name="image1" class="hidden image-name" id="image1" type="text" value="" th:field="*{image1Name}">
									<label for="file-upload2" id="file-upload-area2" class="file-upload-area">
										<div id="close2" class="hidden close">
											<i class="fa fa-window-close" aria-hidden="true"></i>
										</div> 
										<img id="file-image2" src="#" alt="Preview"	class="hidden file-image">
										<div id="start2" class="start">
											<i class="fas fa-plus-circle"></i>
											<div th:text="#{addNewNotice.label.selectFile}">Select a file</div>
											<div id="notimage2" class="hidden notimage" th:text="#{addNewNotice.label.selectImageOnly}">Please select an image</div>
										</div>
										<div id="response2" class="hidden response">
											<div id="messages2" class="messages"></div>
										</div>
									</label>
								</div>

								<div id="file-upload-form3" class="uploader col-md-4">
									<input class="file-upload" id="file-upload3" type="file" name="fileUpload" accept="image/*" />
									<input name="image2" class="hidden image-name" id="image2" type="text" value="" th:field="*{image2Name}">
									<label for="file-upload3" id="file-upload-area3" class="file-upload-area">
										<div id="close3" class="hidden close">
											<i class="fa fa-window-close" aria-hidden="true"></i>
										</div>
										<img id="file-image3" src="#" alt="Preview" class="hidden file-image">
										<div id="start3" class="start">
											<i class="fas fa-plus-circle"></i>
											<div th:text="#{addNewNotice.label.selectFile}">Select a file</div>
											<div id="notimage3" class="hidden notimage" th:text="#{addNewNotice.label.selectImageOnly}">Please select an image</div>
										</div>
										<div id="response3" class="hidden response">
											<div id="messages3" class="messages"></div>
										</div>
									</label>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend th:text="#{addNewNotice.label.contactDetails}">Contact Details</legend>
						<div class="form-group">
							<label class="col-md-3 control-label" for="city" th:text="#{addNewNotice.label.location}">Your location</label>
							<div class="col-md-4">
								<input class="form-control input-md" type="text" id="city" th:field="*{city}"></input>
								<input type="hidden" value="" id="state" th:field="*{state}"></input>
								<p class="alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
								<p class="alert alert-danger" th:if="${ #fields.hasErrors('city') == false and #fields.hasErrors('state') == true}" th:errors="*{state}"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="email" th:text="#{addNewNotice.label.email}">Email</label>
							<div class="col-md-4">
								<input name="email" class="form-control input-md" id="email"
									type="text" th:placeholder="${user.email}" disabled>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="phone-number" th:text="#{addNewNotice.label.phoneNumber}">Phone
								Number</label>
							<div class="col-md-4">
								<input name="phone-number" class="form-control input-md"
									id="phone-number" type="tel" th:field="*{phoneNumber}">
							<p class="alert alert-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="add-notice"></label>
							<div class="col-md-4 text-center">
								<button name="add-notice" class="btn btn-success"
									id="add-notice" th:text="#{addNewNotice.button.addNotice}">Add</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

</body>

</html>