<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/header.css}"  href="../css/headerStyle.css" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="col-md-6 col-md-offset-3" th:switch="${message}">
			<div th:case="resendRegistrationToken">
			    <h1 class="alert alert-success" th:text="#{successRegister.label.tokenResend}">Token send</h1>
		    </div>
		    
		    <div th:case="userConfirmed">
			    <h1 class="alert alert-success" th:text="#{successRegister.label.userConfirmed}">Email confirmed</h1>
			    <p  th:text ="#{successRegister.label.userConfirmedMessage}">Email confirmed, log in</p>
		    </div>
		    
		    <div th:case="userRegistered">
			    <h1 class="alert alert-success" th:text="#{successRegister.label.userRegistered}">User registered</h1>
			    <p  th:text ="#{successRegister.label.confirmEmail} + ${user.getEmail()}">Confirm your email</p>
		    </div>
		    
		    <div th:case="resetPassword">
			    <h1 class="alert alert-success" th:text="#{successRegister.label.resetPassword}">Reset password</h1>
			    <p  th:text ="#{successRegister.label.resetPasswordMessage} + ${user.getEmail()}">Reset your password</p>
		    </div>
		    
		    <div th:case="passwordUpdated">
			    <h1 class="alert alert-success" th:text="#{successRegister.label.passwordUpdated}">Password Updated</h1>
			    <p  th:text ="#{successRegister.label.passwordUpdatedMessage}">Password has been updated</p>
		    </div>
		    
		    <h1 th:case="*" th:text="#{successRegister.label.invalidRequest}" class="alert alert-danger">Invalid request</h1>
		    
		    <a th:if="${message != 'passwordUpdated'}" href="#" th:href="@{/login}" th:text="#{sucessRegister.link.login}">Login</a>
    	</div>
	</div>
</body>
</html>