<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<title th:text="#{forgotPassword.title}">Forgot Password</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	
  	<style type="text/css">
  		#updatepasswordbox {
  			margin-top:50px
  		}
  	</style>
</head>
<body>
	<div id="updatepasswordbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
    	<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="panel-title" th:text="#{updatePassword.label.title}">Change your password</div>
	        </div>
            <div class="panel-body" >
	            <form id="updatepasswordform" class="form-horizontal" action="#" th:action="@{/user/savePassword}" th:object="${user}" method="post">
	                <div class="form-group">
	                    <label class="col-md-3 control-label" th:text="#{registration.label.password}">Password</label>
	                    <div class="col-md-9">
	                        <input type="password" class="form-control" name="password" placeholder="Password" th:placeholder="#{registration.placeholder.password}" th:field="*{password}"/>
	                        <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
	                    </div>
	                </div>
	                    
	                <div class="form-group">
	                    <label class="col-md-3 control-label" th:text="#{registration.label.confirmPassword}">Confirm Password</label>
	                    <div class="col-md-9">
	                        <input type="password" class="form-control" name="password" placeholder="Confirm Password" th:placeholder="#{registration.placeholder.confirmPassword}" th:field="*{matchingPassword}"/>
	                    </div>
	                </div>
	                
	                <input type="hidden" name="email" th:value="${user.email}" th:field="*{email}">
	                
	                <div class="form-group">
	                    <div class="col-md-offset-3 col-md-9">
	                        <button id="btn-update" type="submit" class="btn btn-info" th:text="#{updatePassword.button.update}"><i class="icon-hand-right"></i>Update</button>
	                    </div>
	                </div>
	            </form>
			</div>
		</div>
	</div>
</body>
</html>