body{
    background: #fff;
    padding-top: 60px;
}

.navbar, .dropdown-menu{
	background: #47cb66;
	border: none;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
	border-bottom: 3px solid transparent;
}

.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	border-bottom: 3px solid transparent;
	background: #2ca348;
}

.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
	color: #fff;
}

#logo{
	position: relative;
	bottom: 13px
}