<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/headerStyle.css}"  href="../css/headerStyle.css" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div th:if="${param.logoutSucc != null}" class="alert alert-info" th:text="#{index.label.logoutSucc}">error</div>

Content
</body>

</html>